body{
    background-image:linear-gradient(rgb(255,255,255),rgb(255,30,100)) ;
    height: 100vh;
    
} 

.logo{
    width: 20%;
    display: block;
    margin: auto;
    margin-top:5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.container{
    background-color: aquamarine;
    width: 50%;
    margin: 20px auto;
    height: 80vh;
    overflow-y: auto;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.3);
    border-radius: 10px;
    margin-top: 1.5em;
    position: relative;

}
 @media screen and (max-width:576px){
     .container{
    width: 95%;
    margin-top: 3em;
     }
     .logo{
         width: 20%;
         margin-top: 5px;

     }
 }
    

.chat{
    background-color: lightgray;
    width: 30%;
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
}
.right{
    float: right;
    clear: both;
}
.left{
    float: left;
    clear: both;
}
@media screen and (max-width:576px) {
    .chat{
    width: 60%;
    }
    .right{
        font-size: large;
    }
}

.send{
    
     width: 50%;
     margin: auto;
     margin-top: 10px;
    
     
}
@media screen and (max-width:576px) {
    .send{
        width: 95%;
    }
    
}
.send form{
    display: flex;
    justify-content: space-between;
    flex-basis: 40%;

}
#messageInp{
    width: 50%;

}
.style{
    width: 20%;
    background: rgb(34, 236, 101);
    border-radius: 2px;
}
.whatsapp-ico{
    opacity: 0.5;
}